@model IEnumerable<HealthyRecipes.Models.Recipe>

@{
    ViewData["Title"] = "Index";
}

<h2>Recipes</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrepareTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chef)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <h3>@Html.DisplayFor(modelItem => item.Title)</h3><br/>
                <img src="@Html.DisplayFor(modelItem => item.ImageUrl)" width="200" height="150" />
            </td>
   
            <td>Prepare Time: 
                @Html.DisplayFor(modelItem => item.PrepareTime) minutes
                <br /><br />
                Type of recipe: 
                @Html.DisplayFor(modelItem => item.Type)
                <br /><br />
                Made by :
                @Html.DisplayFor(modelItem => item.Chef.FullName)
            </td>
         
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@

<div class="card-columns">
    @foreach (var item  in Model)
    {
    <div class="card">

        <div class="card-body">
            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
        </div>
        <div class="card-img" ><img src="@Html.DisplayFor(modelItem => item.ImageUrl)" width="355" height="200" /></div>
        <div class="card-footer">
            Prepare Time:
            @Html.DisplayFor(modelItem => item.PrepareTime) minutes<br />
            Type of recipe:
            @Html.DisplayFor(modelItem => item.Type) <br />
            Made by :
            @Html.DisplayFor(modelItem => item.Chef.FullName)
            <br /><br />
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>


        </div>
    </div>


    }
</div>
