@model HealthyRecipes.Models.Chef

@{
    ViewData["Title"] = "Details";
}



        <h4>Chef @Html.DisplayFor(model => model.FullName)</h4>
        <hr />

      
        <dl class="row">
            <dt class="col-sm-2">

            </dt>
            <dd class="col-sm-10">
                <img src="@Html.DisplayFor(model => model.ImageUrl)" width="300" height="250" />
            </dd>
        </dl>
    
<p>@Model.FirstName's recipes</p>
@if (Model.Recipes != null)
{
    @foreach (var recipe in Model.Recipes)
    {
        <a asp-controller="Recipes" asp-action="Details" asp-route-id="@recipe.Id">
            @recipe.Title
        </a>
        <br />
    }
}
<br /><br />
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
