@model HealthyRecipes.Models.Chef

@{
    ViewData["Title"] = "Details";
}



<div>
    <h4>Chef @Html.DisplayFor(model => model.FullName)</h4>
    <hr />
    
</div>
<p>@Model.FirstName's recipes</p>
@if (Model.Recipes != null)
{
    @foreach (var recipe in Model.Recipes)
    {
        <a asp-controller="Recipes" asp-action="Details" asp-route-id="@recipe.Id">
            @recipe.Title
        </a>
        <br />
    }
}
<br />
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
