@model HealthyRecipes.Models.Ingredient

@{
    ViewData["Title"] = "Details";
}



<div>
    <h2>@Html.DisplayFor(model => model.Name)</h2>
   
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            
        </dt>
        <dd class = "col-sm-10">
            
        </dd>
        <dt class = "col-sm-2">
           
        </dt>
        <dd class = "col-sm-10">
            <img src="@Html.DisplayFor(model => model.ImageUrl)" width="300" height="250" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaloriesPerItem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaloriesPerItem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProteinsPerItem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProteinsPerItem) grams
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SugarPerItem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SugarPerItem) grams
        </dd>
        <dt class="col-sm-2">
            Fact about @Html.DisplayFor(model => model.Name) :
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IngredientFact)
        </dd>
    </dl>
</div>
<p>You can find this ingredient in :</p>
@if(Model.Recipes != null)
{
    @foreach(var recipe in Model.Recipes)
    {
        <p>
            <a asp-controller="Recipes" asp-action="Details" asp-route-id="@recipe.Recipe.Id">@recipe.Recipe.Title</a>
        </p>
    }
}
<br /><br />
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
