@model IEnumerable<HealthyRecipes.Models.Ingredient>

@{
    ViewData["Title"] = "Index";
}

<h2>Ingredients</h2>

<p>
    <a asp-action="Create">ADD</a> New Ingredient

</p>

    <form asp-controller="Ingredients" asp-action="Index" method="get">
        <p>

            Find Ingredient: &nbsp; <input type="text" name="searchName" value="@ViewData["CurrentFilter1"]" />

            <input class="submit" type="submit" value="Find" />
            <br />

        </p>
        

    </form>

    




<div class="center-div">
    <div class="card-columns">
        @foreach (var item in Model)
        {
            <div class="card">

                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                </div>
                <div class="card-img"><img src="@Html.DisplayFor(modelItem => item.ImageUrl)" width="355" height="200" /></div>
                <div class="card-footer">
                    Proteins per item:
                    @Html.DisplayFor(modelItem => item.ProteinsPerItem) grams<br />
                    Calories per item:
                    @Html.DisplayFor(modelItem => item.CaloriesPerItem) <br />
                    Sugar per item:
                    @Html.DisplayFor(modelItem => item.SugarPerItem) grams
                    <br /><br />
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>


                </div>
            </div>


        }
    </div>
</div>
